canvas {
    background-color: white;
}
#canvas-container {
    background-color: rgb(171, 230, 211);
}
#tools-section {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    text-align: center;
    /* padding: 8pt; */
}
.tool {
    margin-top: 8pt;
}
#view-selection {
    text-align: center;
}
.selection {
    float: left;
    width: 50%;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    padding-top: 8pt;
    padding-bottom: 8pt;
}
.selection:hover {
    cursor: pointer;
}
#canvas-selector {
    background-color: darksalmon;
}
#ide-selector {
    border: thin solid black;
    background-color: antiquewhite;
}
#draw {
    border: medium solid black;
}
#erase {
    border: thin solid black;
}